DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=teste_sigaa
DB_HOST=postgres
DEBUG=1
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=teste_sigaa

# Telegram Integration
TELEGRAM_BOT_TOKEN=coloque_seu_token_aqui
TELEGRAM_API_ID=seu_api_id_aqui
TELEGRAM_API_HASH=seu_api_hash_aqui
